<!DOCTYPE html>
<html>

<head>
    <title>
        Todo List
    </title>
</head>

<body>
    <main>
        <div>
            <h1>{{ TodoList.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in list.items.all %}
                    <tr>
                        <td>
                            {{list.task}}
                        </td>
                        <td>
                            {{list.due_date}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
