<!DOCTYPE html>
<html>

<head>
    <title>
        Todo List
    </title>
</head>

<body>
    <main>
        <div>
            <h1>
                My Lists
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for TodoList in todo_list_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' TodoList.id %}">{{ TodoList.name }}</a>
                        </td>
                        <td>{{ TodoList|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </main>
</body>

</html>
